body{
<<<<<<< HEAD
    background: tomato;
    text-align: center;
=======
    /* background: red; */
    /* text-align: center; */
>>>>>>> dc0b6e3c7e25f555295606503a04672012784edd
  }
  
#form{
    margin-Top: 15%;
    margin-Left: 25%;
    margin-Right: 25%;
    border-style: solid;
    background:white;
    border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  }

#input{
  margin-Top: 2px;
  margin-Left: 50px;
  margin-Right: 50px;
  text-align:center; 
}
#img{
  margin-Top: 10%;
  border-radius: 200px;
}
#imgForm{
  margin-Left: 45%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
#button{
  border-style: solid;
  margin-Top: 10px;
  margin-Left: 50px;
  margin-Right: 50px;
}
  h2 {
    color: black;
    text-align:center;
  }

  h3{
    color: black;
    text-align:center;
  }

#center{
  background:white;
  text-align:center;
  margin-Left: 25%;
  margin-Right: 25%;
}
#centerBar{
  text-align:center;
  margin-Left: 45%;
  margin-Right: 45%;
}

#bottom{
  background-color: #efefef;
}

#back{
  background-color: black
}