body{
    background: whitesmoke;
    margin-Top: 5%;
    margin-Left: 5%;
    margin-Right: 5%;
    opacity: 77%;
  }
  
#homepage{
  display:grid;
  grid-template-columns: 55% 45%;
  grid-auto-rows: minmax(auto);
  text-align: center;
}

#tabs{
  border-Left:solid;
  padding: 10%;
}

#form{
    background:white;
    margin-bottom: 10%;
    width: 50%;
    padding: 3%;
  }

#formLog{
  margin-Top: 15%;
  margin-Left: 35%;
  margin-Right: 35%;
  border-style: solid;
  background:white;
  box-shadow: #999 4px -4px 2px 0, -4px 4px 2px;
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  }

#input{
  margin-Left: 2%;
  margin-Right: 2%;
  text-align:center; 
  padding: 6%;
}
#img{
  float: left;
  margin-Top: 5%;
  margin-Left: 5%;
  animation-name: asura;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes asura {
  0% {
    border-radius: 50% 50% 50% 0;
    transform: rotateY(180deg);
    transition-delay: 1s;
  }
  100% {
    border-radius: 50% 50% 50% 0;
  }
}

#button{
  border-style: solid;
  margin-Top: 10px;
  margin-Left: 50px;
  margin-Right: 50px;
}
  h2 {
    color: black;
    text-align:center;
  }

  h3{
    color: black;
    text-align:center;
  }

#center{
  background: white;
  text-align:center;
  margin-Top: 5%;
  padding:10px;
  text-align: center
}

#loginBar{
  background-color: #efefef;
  height: 10%;
}

#chatName{
  color:red;
  margin-Left:40%;
  animation-name: rot;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rot{
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

#chatName1{
  color:red;
  margin-Left:45%;
}

#account{
  width:45%;
  padding: 10px;
  margin-Top:10%;
  margin-Left:25%;
  background:white;
  border-style: solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px
}
.react-tabs__tab{
  padding-right: 80px !important;
}